
/* Mobile layout specific styles */
.t3-layout--1-column {
    flex-direction: column;
    gap: 0.3125rem; /* 5px = 0.3125rem. Space between columns */
}

/* GAME CONTROLS BUTTONS, STOPWATCH */
.t3-layout__stopwatch,
.t3-layout--1-column .game-controls {
    border-radius: 0.5rem; /* 8px = 0.125rem */
}

/* GAME STATUS */
.t3-layout--1-column .t3-status-wrapper {
    margin: 0.125rem 0; /* 2px = 0.125rem */
}

/* For all game statuses */
.t3-layout--1-column .t3-status {
    border-radius: 0.375rem 0; /* 0.375rem = 6px */
}

/* For the viewing history status */
.t3-layout--1-column .t3-status--vh {
    border-radius: 0.5rem 0; /* 0.5rem = 8px */
}

/* For the status within a game status */
.t3-layout--1-column .t3-status-vh__inline {
    border-radius: 0.3125rem; /* 5px = 0.3125rem */
}

/* GAME INFO */
.t3-layout--1-column .t3-layout__game-info {
    padding: 0;
    border-radius: 0.625rem 0 0.625rem 0.625rem; /* 10px = 0.625rem */
}

/* History moves controls */
.t3-moves-controls-mob .horiz-controls {
    border-radius: 0 0.625rem; /* 10px = 0.625rem */
}