.horiz-controls {
    border: 1px solid #ddd;
    padding: 0.3125rem 0.625rem;  /* 5px = 0.3125rem, 0.625rem = 10px */
}

/* Styles for the horizontal controls bar and child row containers */
.horiz-controls,
.horiz-controls .row-cont {
    gap: 0.625rem; /* Spacing between items in row (0.625rem - 10px) */
}

/* For buttons in horizontal controls menu */
.horiz-controls .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(145deg, #2196f3, #1976d2); /* Gradient for normal state */
    color: white;
    border: 0.1rem solid white;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

/* For active button state */
.horiz-controls .btn.active {
    background: linear-gradient(145deg, #0d47a1, #0a3c8c); /* Darker gradient for active state */
    border-radius: 0.3125rem;
    border: 0.1rem solid #0d47a1;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* Stronger shadow for active state */
    transform: scale(1.1); /* Slightly enlarge the button */
}

/* Hover effect on any button */
.horiz-controls .btn:hover {
    background: linear-gradient(145deg, #1565c0, #0d47a1); /* Darker gradient on hover */
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3); /* Shadow for better focus */
    transform: scale(1.05); /* Slightly enlarge the button */
}

/* Hover effect on active button */
.horiz-controls .btn.active:hover {
    background: linear-gradient(145deg, #0d47a1, #0a3c8c); /* Keep the active gradient on hover */
    transform: scale(1.15); /* Slightly more scale when hovering */
}

/* Disabled button state */

/*
 * ISSUE: When using linear-gradient for the button, the background of the disabled button
 *        may not be overwritten because the gradient doesn't replace the background-color value.
 *        So, the gradient should also be applied to .disabled.
 */
.horiz-controls .btn.disabled {
    background: linear-gradient(145deg, #e0f7fa, #b2ebf2);
    color: #00796b;
    border-color: #80deea;
    opacity: 0.6;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none;
}

/* For small buttons on the controls bar */
.horiz-controls--s .btn {
    width: 2.5rem; /* 40px = 2.5rem */
    height: 1.875rem; /* 30px = 1.875rem */
    font-size: 1rem; /* 1rem = 16px */
}

/* For standard (medium) size buttons on the controls bar */
.horiz-controls--m .btn {
    width: 3.125rem; /* 50px = 3.125rem */
    height: 2.1875rem; /* 35px = 2.1875rem */
    font-size: 1.2rem; /* 1.2rem = 19.2px */
}

/* For large size buttons on the controls bar */
.horiz-controls--l .btn {
    width: 3.4375rem; /* 55px = 3.4375rem */
    height: 2.8125rem; /* 45px = 2.8125rem */
    font-size: 1.4rem; /* 1.4rem = 22.4px */
}