#moves-history {
    text-align: initial;
}

#moves-history ol {
    list-style: none;
    counter-reset: history-counter;
}

#moves-history li {
    margin: 0 0 0.1rem 0;
    counter-increment: history-counter;
    position: relative;
}

#moves-history li::before {
    content: counter(history-counter);
    color: #fcd000;
    font-size: 1.1rem;
    font-weight: bold;
    position: absolute;
    --size: 20px;
    left: calc(-1 * var(--size) - 5px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    transform: rotate(-10deg);
    background: black;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 0 #999;
}

#moves-history li.selected::before {
    background: green;
    color: white;
}

#moves-history .move-id {
    background-color: #911414;
    color: yellow;
    padding: 1px;
    margin: 0 2px;
}

#moves-history .sort-bar {
    margin: 10px 2px 0 2px;
}