#t3-game {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.square.selected {
    border: 2px solid darkred;
}

.square.selected-line {
    background-color: green;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
    border: 1px solid;
    width: 300px;
}

.game-info .status {
    width: 100%;
    padding: 2px 0;
}

.game-info .status .text {
    text-align: center;
}

.status .victory {
    background-color: #c2fbd7;
    color: green;
}

.status .draw {
    background-color: #6E6D70;
    color: #DFDEDF;
}

.status .next {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    color: #FFFFFF;
}

#moves-history {
    text-align: initial;
}

#moves-history ol {
    list-style: none;
    counter-reset: history-counter;
}

#moves-history li {
    margin: 0 0 0.1rem 0;
    counter-increment: history-counter;
    position: relative;
}

#moves-history li::before {
    content: counter(history-counter);
    color: #fcd000;
    font-size: 1.1rem;
    font-weight: bold;
    position: absolute;
    --size: 20px;
    left: calc(-1 * var(--size) - 5px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    transform: rotate(-10deg);
    background: black;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 0 #999;
}

#moves-history li.selected::before {
    background: green;
    color: white;
}

#moves-history .move-id {
    background-color: #911414;
    color: yellow;
    padding: 1px;
    margin: 0 2px;
}

#moves-history .sort-bar {
    margin: 10px 2px 0 2px;
}

