.square.selected {
    border: 2px solid #8B0000; /* Темно-червоний відтінок */
    background-color: #FFFAFA; /* Ледь помітний білий */
    transition: background-color 0.3s ease;
}

.square.selected-line {
    background-color: #32CD32; /* Яскраво-зелений для виділення */
    transition: background-color 0.3s ease;
}