/* Common styles for all versions of the game */

/*
    NOTE: Check if padding needs adjustment
    Height of the container - accounting for padding and the height of the menu/timer.
    Important: If padding, margin, or borders change in .game-container, their impact on the container's height needs to be considered.
    In this case, we use calc() to subtract 10px of padding from each side.
    If padding changes or borders are added, this calculation must be adjusted accordingly.
*/
.t3-container {
    height: calc(100vh - 1.25rem); /* Subtract padding from each side: 0.625rem left and 0.625rem right (10px each) */
}

/* Game container */
.t3-container {
    display: flex; /* Using flexbox to arrange the left and right columns side by side */
    flex-direction: row; /* Left and right columns will be in a single row */
    margin: 0.625rem; /* 10px */
    padding: 0.625rem; /* 10px */
    box-sizing: border-box; /* Include padding and borders in the size calculation */
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2); /* 0.25rem = 4px. Shadow for the container */
    user-select: none; /* Disables text selection */
    touch-action: manipulation; /* Disables zoom and other manipulations on elements */
}

/* Game layout container */
.t3-container .t3-layout {
    width: 100%; /* Ensure it takes full width of the parent */
    height: 100%; /* Match the height of the container */
    display: flex; /* Child element alignment */
}

/* ---Game info--- */
.t3-layout .game-info {
    flex: 1; /* Ensures the container grows to fill available space */
    display: flex;
    flex-direction: column; /* Arranges child elements in a vertical column */
    padding: 1.25rem; /* 1.25rem = 20px */
    border: 1px solid #ddd;
    box-sizing: border-box;
    overflow: hidden;
}

/* ---GAME BOARD container--- */
.t3-layout .board-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: calc(100vh - 7.5rem); /* 7.5rem = 120px. Subtracting the height of the menu and timer: 5vh for each */
    height: 100%; /* Always fills the height of the container */
    box-sizing: border-box;
}

/* ---GAME CONTROLS and ACTION INDICATORS--- */

/* Paused state of the pause button */
.game-controls .pause-btn.paused:not(.disabled) {
    background: linear-gradient(145deg, #ff7043, #ff5722);
    border-color: #ff5722;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
}

/* Pause button on hover when paused */
.game-controls .pause-btn.paused:hover:not(.disabled) {
    background: linear-gradient(145deg, #ff5722, #f44336); /* Slightly darker red-orange for hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}

/* For all indicators */
.action-indicator {
    color: #007bff;
}

/* When game is pausing */
.action-indicator.pause {
    color: #ff7043;
}