.status .victory {
    background-color: #c2fbd7;
    color: green;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.status .draw {
    background-color: #6E6D70;
    color: #DFDEDF;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.status .next {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}