.status {
    display: flex;  /* Fix bug with left margin! */
    align-items: center; /* Vertical alignment of items */
    width: 100%;
    justify-content: space-between; /* Elements take up the entire width */
    margin: 0 0 20px 0;
    user-select: none; /* Disables text selection. */
}

.status .text {
    font-size: 1.125rem; /* 18px in rem */
    width: 100%;
    text-align: center;
}

/* Laptops */
@media (max-width: 768px) {
    .status .text {
        font-size: 0.875rem;
        white-space: normal; /* Allow text wrapping */
    }
}

/* Mobiles */
@media (max-width: 480px) {
    .status .text {
        font-size: 0.75rem;
        white-space: normal; /* Allow text wrapping */
    }
}

