/* Time unit separator (":") */
.time-viewer .time-separator {
	color: #1e88e5;
}

/* Style for numeric time values */
.time-unit .value {
	background: linear-gradient(145deg, #90caf9, #2196f3);
	color: white;
	box-shadow:
		inset 2px 2px 5px rgba(255, 255, 255, 0.2),
		inset -2px -2px 5px rgba(0, 0, 0, 0.1),
		0 3px 6px rgba(0, 0, 0, 0.15);
}
